/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Variables */
  --font-size: 1.125rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --section-gap: 3rem;
  --test-gap: 1.125rem;
  --section-width: 400px;
  --text-opacity: 0.8;
  --raduis-sm: 0.25rem;
  --radius-lg: 0.75rem;
  --measures-0: 0;
  --measures-2: 0.125rem;
  --measures-4: 0.25rem;
  --measures-6: 0.375rem;
  --measures-8: 0.5rem;
  --measures-20: 1.25rem;

  /* Colors base */
  --primary-color-base: 15, 23, 43;
  --primary-color-light-base: 49, 65, 88;
  --primary-color-dark-base: 2, 6, 24;
  --secondary-color-base: 249, 243, 244;
  --secondary-color-dark-base: 144, 161, 185;

  /* Colors */
  --primary-color: rgb(var(--primary-color-base));
  --primary-color-light: rgb(var(--primary-color-light-base));
  --primary-color-dark: rgb(var(--primary-color-dark-base));
  --secondary-color: rgb(var(--secondary-color-base));
  --secondary-color-dark: rgb(var(--secondary-color-dark-base));
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--primary-color-dark);
  color: var(--secondary-color);
  margin: var(--measures-0);
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  font-size: var(--font-size);

  .main-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--section-gap);
    margin: var(--measures-0) auto;
    max-width: 100%;
    width: calc(2 * var(--section-width) + var(--section-gap));

    .test-container,
    .chart-container {
      display: flex;
      max-width: var(--section-width);
      width: 100%;
      box-sizing: border-box;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .button {
    border-radius: var(--raduis-sm);
    border: var(--measures-0);
    color: var(--secondary-color);
    cursor: pointer;
    padding: var(--measures-2) var(--measures-4);
    transition: background 0.3s ease;
    width: fit-content;
    margin-left: var(--measures-4);
    font-size: var(--font-size-sm);
    background: rgba(var(--primary-color-light-base), 0.5);
    display: flex;
    align-items: center;

    &:hover {
      background: var(--primary-color-light);
    }

    .icon {
      width: calc(var(--font-size-sm) + var(--measures-2));
      height: calc(var(--font-size-sm) + var(--measures-2));
    }

    &.text-button {
      padding: var(--measures-4) var(--measures-8);
    }
  }
}

/* Tests */
.test-container {
  display: flex;
  flex-direction: column;
  gap: var(--test-gap);

  .text {
    font-size: var(--font-size-sm);
    font-weight: 500;
    margin: var(--measures-0);
    padding: var(--measures-0);
    opacity: var(--text-opacity);
  }

  .code {
    background: var(--primary-color-dark);
    border: var(--measures-0);
    color: var(--secondary-color);
    font-family: monospace;
    font-size: var(--font-size-sm);
    padding: var(--measures-8);
    resize: none;
    width: 100%;
    field-sizing: content;
  }

  .test-cases {
    display: flex;
    flex-direction: column;
    gap: var(--test-gap);
  }

  .test-case {
    background: var(--primary-color);
    border: 1px solid var(--secondary-color-dark);
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      font-size: var(--font-size-sm);
      padding: var(--measures-8);
      align-items: center;

      .test-id {
        border-radius: 50%;
        background: var(--primary-color-light);
        width: var(--measures-20);
        height: var(--measures-20);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--secondary-color);
      }

      .ops {
        opacity: var(--text-opacity);
        font-size: var(--font-size-xs);
      }
    }

    .code {
      border-radius: var(--measures-0) var(--measures-0) var(--radius-lg)
        var(--radius-lg);
    }
  }
}

/* Charts */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--section-width);

  .chart {
    width: 100%;
    height: 300px;
  }

  .bar {
    transform: scale(1, -1);
    transition: height 0.5s ease;
    width: var(--measures-2);
  }

  .indexes,
  .percentages {
    opacity: var(--text-opacity);
    display: flex;
    font-size: var(--font-size-xs);
    justify-content: space-between;
    gap: var(--section-gap);
    width: 100%;
    position: relative;
  }

  .index,
  .percentage {
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
  }

  .percentage {
    top: var(--test-gap);
  }

  .index {
    bottom: var(--test-gap);
  }
}
