*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-size: 16px;
  --font-size-small: 12px;
  --section-gap: 40px;
  --section-width: 400px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #1e1e1e;
  color: #fff;
  margin: 0;
  padding: 16px;
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100%;
  font-size: var(--font-size);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--section-gap);
  margin: 0 auto;
  max-width: 100%;
  width: calc(2 * var(--section-width) + var(--section-gap));

  .test-container,
  .chart-container {
    display: flex;
    max-width: var(--section-width);
    width: 100%;
    box-sizing: border-box;
  }
}

.test-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  h2 {
    font-size: 12px;
    opacity: 0.5;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}

.code {
  background: #141414;
  border-radius: 6px;
  border: 0;
  color: #d4d4d4;
  font-family: monospace;
  font-size: 12px;
  padding: 8px;
  resize: none;
  width: 100%;
  field-sizing: content;
}

.test-cases {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.test-case {
  background: #2a2a2a;
  border-radius: 6px;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 8px;
    align-items: center;

    .test-id {
      border-radius: 50%;
      background: #141414;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
    }

    .ops {
      opacity: 0.5;
      font-size: 9px;
    }
  }

  .code {
    border-radius: 0 0 6px 6px;
  }
}

.button {
  border-radius: 6px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 3px 4px;
  transition: background 0.3s ease;
  width: fit-content;
  margin-left: 3px;
  font-size: var(--font-size-small);

  .icon {
    width: calc(var(--font-size-small) + 2px);
    height: calc(var(--font-size-small) + 2px);
  }

  &.text-button {
    padding: 4px 8px;
  }
}

.clear-all-button,
.run-button,
.add-button {
  background: rgba(255, 255, 255, 0.3);

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.clear-button,
.delete-button,
.copy-button {
  background: rgba(173, 173, 173, 0.3);

  &:hover {
    background: rgba(173, 173, 173, 0.5);
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--section-width);

  .chart {
    width: 100%;
    height: 300px;
  }

  .bar {
    transform: scale(1, -1);
    transition: height 0.5s ease;
    width: 2px;
  }

  .indexes,
  .percentages {
    opacity: 0.5;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    gap: 32px;
    margin-top: 16px;
    width: 100%;
    position: relative;
  }

  .indexes {
    margin-bottom: 16px;
  }

  .index,
  .percentage {
    position: absolute;
    top: -16px;
    transform: translateX(-50%);
    text-align: center;
  }
}
